.concreteProductContentContainer {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
}

#productView {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

#productView img {
    width: 30em;
    border-radius: 50px;
    margin-top: 3em;
    margin-bottom: 2em;
}

#productInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 1.25em;
    width: 55%;
}

#productInfo h1 {
    color: #EEA10C;
    font-size: 2.2em;
    flex: 50%;
}

#productInfo h2 {
    flex: 100%;
    color: #FFFFFF;
    font-size: 2em;
}

#productInfo h3 {
    flex: 50%;
    color: #c5c5c5;
}

#productInfo .auxContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#productInfo .auxContainer u {
    flex: 50%;
}

#actionButtons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#productInfo #actionButtons button {
    flex: 33%;
    font-size: 1.25em;
    align-self: center;
    width: 10em;
    height: 100%;
    background-color: #EEA10C;
    text-align: center;
    padding: 10px;
    margin: 1em 1em 1em 0;
    font-weight: bold;
    color: black;
    border-radius: 10px;
}

/*---------------------*/
#selectionButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#selectionButtons .concreteSelectionButton {
    background-color: #EEA10C;
    color: black;
    font-weight: bold;
    font-size: 1.75em;
    padding: 1em 1.5em;
    border-radius: 15px;
}

/*---------------------*/

#additionalOptions {
    display: flex;
    flex-flow: column;
}

/*---------------------*/
#specs {
    font-size: 1.25em;
    color: #FFFFFF;
    margin-left: 4em;
    margin-right: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: row wrap;
}

#specs h1 {
    flex: 100%;
    font-size: 1.8em;
    text-underline: #EEA10C;
    height: 1.5em;
    margin-top: 1em;
}

#specs .leftHandBoldTag {
    font-weight: bold;
    flex: 25%;
    height: 1.7em;
}

#specs u {
    flex: 75%;
}

/*---------------------*/


#opinions {
    display: flex;
    flex-flow: column;
}

#opinions .concreteOpinion {
    display: flex;
    flex-flow: column;
    background-color: #C4C4C4;
    margin: 2em 2em 1em 2em;
    padding: 15px;
    border-radius: 15px;
}

#opinions .concreteOpinion h2 {
    margin-bottom: 0.6em;
}

#opinions .concreteOpinion h3 {
    font-size: 1.3em;
    margin-top: 0.6em;
}

#opinions .concreteOpinion p {
    font-size: 1.2em;
}

/*---------------------*/

#frequentlyAskedQuestions {
    display: flex;
    flex-flow: column;
}

#frequentlyAskedQuestions .concreteQuestion {
    display: flex;
    flex-flow: column;
    background-color: #C4C4C4;
    margin: 2em 2em 1em 2em;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.2em;
}

#frequentlyAskedQuestions .concreteQuestion h2{
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

#frequentlyAskedQuestions .concreteQuestion p{
    margin-top: 0.6em;
}


@media (min-width: 768px) and (max-width: 1200px) {
    #productView {
        flex-flow: column nowrap;
    }

    #productInfo {
        width: 85%;
    }

    #productInfo .auxContainer .button {
        font-size: 1.15em;
    }

    #selectionButtons .concreteSelectionButton {
        font-size: 1.5em;
        padding: 0.5em 0.9em;
    }

    #specs {
        font-size: 1em;
    }
}

@media (max-width: 768px) {

    .concreteProductContentContainer {
        font-size: 1em;
    }

    #productView {
        flex-flow: column nowrap;
    }

    #productInfo {
        width: 85%;
    }

    #productView img{
        width: 60%;
    }

    #actionButtons {
        flex-flow: column nowrap;

    }

    #actionButtons button {
        font-size: 0.8em;
        width: 60%;
    }

    #selectionButtons {
        flex-flow: column nowrap;
    }

    #selectionButtons .concreteSelectionButton {
        font-size: 1.2em;
        padding: 0.3em 0.6em;
        width: 70%;
        margin-bottom: 1em;
    }

    #specs {
        flex-flow: column nowrap;
    }

    #specs .leftHandBoldTag{
        margin-top: 1.5em;
    }
}